/*!------------------------------------------------------------------
[SHAMEFUL STYLESHEET]
-------------------------------------------------------------------*/

/* Language switch */

.lang-switch {
  font-size: 16px;
  position: relative;
  top: 6px;
}
.lang-switch select {
  background:0 0;
  border: 0 !important;
  cursor:pointer; 
}