<div class="widget-sidebar project-meta">
  <h2 class="widget-sidebar__title">School details</h2>
  {{ if .Params.summary }}
  <p class="project-meta__summary">{{ .Params.summary }}</p>
  {{ end }}
  {{ if .Params.website }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Website</h3>
    <div class="project-meta__text"><a href="{{ .Params.website }}" target="_blank">{{ strings.TrimLeft "https://" .Params.website }}</a></div>
  </div>
  {{ end }}
  {{ if .Params.students }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Number of students</h3>
    <div class="project-meta__text">{{ .Params.students }}</div>
  </div>
  {{ end }}
  {{ if .Params.map }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Map</h3>
    <div class="project-meta__text"><a href="{{ .Params.map }}" target="_blank">OpenStreetMap</a></div>
  </div>
  {{ if .Params.groupsize }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Group size</h3>
    <div class="project-meta__text">{{ .Params.groupsize }}</div>
  </div>
  {{ end }}
  {{ end }}
</div>